apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: nginx
  name: nginx
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx
  strategy: {}
  template:
    metadata:
      annotations:
        sidecar.istio.io/inject: "true"
      labels:
        app: nginx
    spec:
      serviceAccountName: apps-istio
      securityContext:
        runAsUser: 0
      containers:
      - image: nginx
        name: nginx
        ports:
        - containerPort: 80
